name: Run vehicule server
on:
  - push
jobs:
  vehicule_server:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-node@v6
        with:
          node-version: 24
       
      - name: install dependecies
        run: npm ci
      
      - name: build
        run: npm run build